.stepper-horizontal {

    md-step {
        line-height: 32px; 

        md-step-circle {
            display: block; 
            width: 24px; 
            height: 24px; 
            line-height: 24px; 
            border-radius: 16px; 
            position: relative; 
            color: white; 
            text-align: center
        }

        md-step-text { 
            margin-left:8px;
            
            &.optional {
                line-height: 16px;
            }
        }

        .step-optional {
            display: block;
            font-size: 0.9rem;
            font-weight: normal;
        }

        md-step-line {
            border-top: 2px solid #ccc;
            display: block;
            height: 2px;
            margin:16px 8px 0px 8px;
            min-width: 30px;
        }

        &.active, &.done {
            font-weight: bold;
            md-step-circle {
            }

        }

    }

    md-step:last-child {
        display: inherit !important;
        flex: inherit !important;
        /*Safari 8 fix*/
        -webkit-flex: 0 0 auto;
        md-step-line {
            display: none;
        } 
    }
}
