.stepper-horizontal {

    md-step {
        line-height: 24px; 

        md-step-circle {
            display: block; 
            width: 24px; 
            height: 24px; 
            line-height: 24px; 
            border-radius: 16px; 
            position: relative; 
            color: white; 
            text-align: center;
            font-size: 12px;

            md-icon {
                font-size: 12px;
                height: 12px;
                line-height: 12px;
            }
        }

        md-step-text { 
            margin-left:8px;
            font-size: 14px;
            color: rgba(0,0,0,0.26);
            
            &.optional {
                line-height: 16px;
            }
        }

        .step-optional {
            display: block;
            font-size: 0.9rem;
            font-weight: normal;
        }

        md-step-line {
            border-top: 1px solid;
            display: block;
            height: 2px;
            margin:12px 8px 0px 8px;
            min-width: 30px;
        }

        &.active, &.done {
            md-step-text { 
                color: rgba(0,0,0,0.87);
            }
            md-step-circle {
            }

        }

    }

    md-step:last-child {
        display: inherit !important;
        flex: inherit !important;
        /*Safari 8 fix*/
        -webkit-flex: 0 0 auto;
        md-step-line {
            display: none;
        } 
    }
}
